@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("./fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
    src: local("Rubik"),
    url("./fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Rubik", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
